[submodule "references/WindowsCE-Build-Tools"]
	path = references/WindowsCE-Build-Tools
	url = git@github.com:gweslab/WindowsCE-Build-Tools.git
[submodule "references/extract-wince-rom"]
	path = references/extract-wince-rom
	url = git@github.com:gweslab/extract-wince-rom.git
